name: Update Focusmate Locations

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  update-data:
    runs-on: ubuntu-latest

    permissions:
      contents: write
    
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests geopy python-dotenv

      - name: Run update script
        env:
          FOCUSMATE_API_KEY: ${{ secrets.FOCUSMATE_API_KEY }}
        run: python actions.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add location.json
          git add processed_users.json
          git add focusmate_data.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Automated: Update Focusmate locations and user cache" && git push)
      
      - name: Run wrapped script
        run: python wrapped_data_extraction.py

      - name: Commit and push changes again
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add stats.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Automated: Update Focusmate locations and user cache" && git push)
      
